# Development overrides for docker-compose.yml
# Usage: docker-compose -f docker-compose.yml -f docker-compose.dev.yml up

services:
  grafana:
    environment:
      GF_SECURITY_ADMIN_PASSWORD: dev_password
      GF_LOG_LEVEL: debug
      GF_SERVER_ROOT_URL: http://localhost/grafana/
      GF_SERVER_SERVE_FROM_SUB_PATH: true

  prometheus:
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--storage.tsdb.retention.time=30d'
      - '--web.enable-lifecycle'
      - '--web.external-url=/prometheus'
      - '--web.route-prefix=/'
      - '--log.level=debug'

  tempo:
    # No dev overrides needed for tempo

  loki:
    # No dev overrides needed for loki

  nginx:
    # No dev overrides needed for nginx
